.resetpassword {
    min-height: 400px;
}

.resetpassword h1 {
    line-height: 50px;
    font-size: 16px;
    color: #717171;
    border-bottom: 1px solid #717171;
    margin-bottom: 20px;
}

.resetpassword p {
    font-size: 14px;
    line-height: 30px;
}

.resetpassword li {
    height: 40px;
    line-height: 40px;
    position: relative;
    margin: 30px 0;
    list-style: none;
}

.resetpassword li input {
    width: 300px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 70px;
    text-indent: 10px;
    border: 1px solid #717171;
}

.resetpassword li i {
    position: absolute;
    margin-left: 340px;
    color: #aa0b0b;
}

.resetpassword .errorput input {
    border-color: #f00;
    box-shadow: 0 0 5px #aa0b0b;
}

.resetpassword .rightput {
    background: url(../images/check.png) no-repeat 400px center;
}

.resetpassword .button input {
    cursor: pointer;
}

.resetpassword .button:hover input {
    background: #717171;
    color: #fff;
    border: 0;
}

.resetpassword .successword {
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #717171;
}


.dialogbox .box {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border: 1px solid #ccc;
    margin: 15px 0;
    border-radius: 3px;
    position: relative;
}
.resetpassword span {
    color: #7c7c7c;
    border-right: 1px solid #ccc;
    width: 80px;
    height: 20px;
    line-height: 20px;
    margin-top: 12px;
    text-align: center;
    display: block;
}


.resetpassword input {
    width: 235px;
    padding: 10px;
    line-height: 24px;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}