<!DOCTYPE html>
<html lang="en">


<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Laravel-简洁、优雅的PHP开发框架(PHP Web Framework)。- Laravel中文网（Laravel中国社区）</title>
    <meta name="description" content="Laravel是一套简洁、优雅的PHP Web开发框架(PHP Web Framework) -- Laravel中文网">
    <meta name="keywords" content="Laravel中文社区,php框架,laravel中文网,php framework,restful routing,laravel,laravel php">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/9.0.0/styles/vs.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.min.css?1508333069353">
    <script src="https://pagead2.googlesyndication.com/pub-config/r20160913/ca-pub-5399482037315154.js"></script>
    <script>var _hmt = _hmt || [];</script>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <link rel="preload" href="https://adservice.google.com.hk/adsid/integrator.js?domain=www.golaravel.com" as="script">
    <script type="text/javascript"
            src="https://adservice.google.com.hk/adsid/integrator.js?domain=www.golaravel.com"></script>
    <link rel="preload" href="https://adservice.google.com/adsid/integrator.js?domain=www.golaravel.com" as="script">
    <script type="text/javascript"
            src="https://adservice.google.com/adsid/integrator.js?domain=www.golaravel.com"></script>
    <link rel="prefetch" href="https://securepubads.g.doubleclick.net/static/3p_cookie.html">

    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body class="home-template">

{% include 'header.html' %}

<div class="content">
    <div class="container">
        <div class="col-md-12 horiz-img-region clearfix gw_contair">

                {% for video in videos  %}

                <li class="horiz-img-item animated" style="animation-delay: 1s;">
                    <div class="thumbnail">
                        <img src="{{ video.image_path }}">
                        <div class="caption">
                            <h3>{{video.filename}}</h3>
                            <p>{{video.description}}</p>
                        </div>
                    </div>
                </li>

             {% endfor %}
        </div>
    </div>


        <input type="hidden" name="csrfmiddlewaretoken" value="UK4mBswSKeDDMxP5nAfD3MsRMKNnGQpOpQsNPjXabY3TJfLprPDcQo8UVlKrcfOn">
        <div class="gw_zz" style="display: none;">
            <h3></h3>
            <p class="gw_qq"></p>
            <p class="gw_secret"></p>
            <img src="" alt="">
        </div>

    </div>


{% for item in items %}
    {# Each "contact" is a Contact model object. #}
    {{ item.full_name|upper }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


<div class="body-register" style="border-radius:0 0 5px 0;">
    <div class="step-box"><span class="step step-1 step-active">1 填写手机号</span><span> &gt; </span><span
            class="step         step-2">2 填写基本资料</span></div>

    <div class="box-register" style="display:none;">
        <div class="err-msg"></div>

        <div class="pr"><input type="text" placeholder="用户名" class="username"></div>
        <div class="pr"><input type="password" placeholder="确认码" class="rgcode"></div>
        <div class="pr"><input type="password" placeholder="密码" class="rgpwd"></div>

        <div>
            <div class="btn btn-register pub-icons pub-btn pub-btn-valid"><span>下一步</span><span
                    style="display:none;"><img src="/images/loading.gif">正在注册</span></div>
        </div>
    </div>

    <div class="box-register-detail" style="display:none;">
        <div class="err-msg"></div>
        <div class="pr"><input type="text" placeholder="昵称（10个汉字以内）" maxlength="10" class="nick"></div>
        <div class="pr"><input type="radio" name="rgsex" class="sex" value="false" checked="">女 <input type="radio"
                                                                                                       name="rgsex"
                                                                                                       class="sex"
                                                                                                       value="true">男
        </div>



        <div class="box-rgcity">
            <select class="rgpro" style="width:49%;">
                <option value="">请选择</option>
                <option value="北京">北京</option>
                <option value="天津">天津</option>
                <option value="河北">河北</option>
                <option value="山西">山西</option>
                <option value="内蒙古">内蒙古</option>
                <option value="辽宁">辽宁</option>
                <option value="吉林">吉林</option>
                <option value="黑龙江">黑龙江</option>
                <option value="上海">上海</option>
                <option value="江苏">江苏</option>
                <option value="浙江">浙江</option>
                <option value="安徽">安徽</option>
                <option value="福建">福建</option>
                <option value="江西">江西</option>
                <option value="山东">山东</option>
                <option value="河南">河南</option>
                <option value="湖北">湖北</option>
                <option value="湖南">湖南</option>
                <option value="广东">广东</option>
                <option value="广西">广西</option>
                <option value="海南">海南</option>
                <option value="重庆">重庆</option>
                <option value="四川">四川</option>
                <option value="贵州">贵州</option>
                <option value="云南">云南</option>
                <option value="西藏">西藏</option>
                <option value="陕西">陕西</option>
                <option value="甘肃">甘肃</option>
                <option value="青海">青海</option>
                <option value="宁夏">宁夏</option>
                <option value="新疆">新疆</option>
                <option value="香港">香港</option>
                <option value="澳门">澳门</option>
                <option value="台湾">台湾</option>
            </select>
            <select class="rgcity" style="width:49%;">
                <option value="">请选择</option>
            </select>
        </div>

        <div class="pr"><textarea placeholder="签名档（100个汉字以内）" maxlength="100" class="sign"></textarea></div>

        <div>
            <div class="btn btn-accomplish pub-icons pub-btn pub-btn-valid"><span>提交资料</span><span
                    style="display:none;"><img src="/images/loading.gif">正在提交</span></div>
        </div>
    </div>
</div>

<script>

    $(".reg-btn-a").click(function () {

                $(".box-register").show();

             }

    );

    //taga=document.getElementById('yy')
    //taga.addEventListener("click", alertName, true);



</script>
</body>
</html>
