<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<iframe height=498 width=510 src='http://player.youku.com/embed/XNDU3MDQ4MTI4' frameborder=0 'allowfullscreen'></iframe>
http://player.youku.com/player.php/sid/XMjI0NTEwMDg=/v.swf
<embed src='http://player.youku.com/player.php/sid/XMjI0NTEwMDg=/v.swf' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
<embed src='http://player.youku.com/player.php/sid/XMjI0NTEwMDg=/v.swf' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
</body>
</html>